.vs
obj
bin
PublishProfiles
Core/CarinaStudio.AppSuite.Core.xml
Core.Tests/CarinaStudio.AppSuite.Core.Tests.xml
Packaging/CarinaStudio.AppSuite.Packaging.xml
Packages
Tests/Properties/launchSettings.json